{% extends 'base.html.twig' %}

{% block title %}Site connection{% endblock %}

{% block body %}

    <div class="container mt-5">
        <div class="row">
            <h1>dfsdfgdfsg</h1>
        </div>
    </div>
{% endblock %}